version: '3.8'

services:
  db:
    image: postgres:15
    container_name: task_management_db_2
    restart: always
    env_file:
      - ./backend/.env 
   
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: task_backend_2  
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: task_frontend_2
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
      
    depends_on:
      - backend

volumes:
  pgdata:
